$min_width: 320px;
$max_width: 1200px;
$min_font: 14px;
$max_font: 20px;

.format-text {
  max-width: 800px;
  color: #444;
  font-size: 14px;
  word-break: break-word;
  line-height: 1.4;
  font-family: roboto;

  @media screen and (min-width: 25em){
    @include fluid-type($min_width, $max_width, $min_font, $max_font);
  }

  h1,
  h2,
  h3,
  h4 {
    color: #222;
    line-height: 1.2;
    margin-top: 2em;
    font-weight: 900;
  }

  h1 {
    font-size: 2.5em;
    margin-bottom: .5em;
    font-family: 'fira sans', sans-serif;
    font-weight: 900;
  }

  h2,
  h3,
  h4 {
    margin-bottom: 1em;
  }

  h2 {
    font-size: 1.5em;
  }

  h3 {
    font-size: 1.17em;
    font-weight: 700;
  }

  h4 {
    font-size: 1em;
    font-weight: 700;
  }

  img {
    max-width: 100%;
    margin-bottom: 1.5em;
  }

  hr {
    border: none;
    border-top: 1px solid #ddd;
  }

  cite {
    font-style: normal;
    font-weight: bold;

    &:before {
      content: open-quote;
    }

    &:after {
      content: close-quote;
    }
  }

  blockquote,
  hr,
  p,
  ol,
  ul,
  table {
    margin-bottom: 1.5em;
  }

  li {
    margin-left: 1.5em;
    margin-bottom: 1em;

    &:last-child {
      margin-bottom: 0;
    }
  }

  strong,
  b {
    font-weight: bold;
  }

  em,
  i {
    font-style: italic;
  }

  a {
    text-decoration: underline;
    color: #0074D9;
  }

  table {
    border-collapse: collapse;
    width: 100%;
    font-size: .9em;

    th,
    td {
      padding: .5em 1em;
      text-align: left;
    }

    tr {
      &:nth-child(odd) {
        td {
          background: #f7f7f7;
        }
      }
    }

    th {
      background: #333;
      color: #fff;
      border: 1px solid #000;
    }

    td {
      border: 1px solid #ccc;
    }
  }

  pre {
    background: #eee;
    padding: 1em;
    overflow: auto;
    margin-bottom: 1.5em;
  }

  code {
    background: #eee;
    font-family: 'PT Mono', monospace;
    font-size: .9em;
  }

  pre {
    &::-webkit-scrollbar {
      height: 1em;
    }
    &::-webkit-scrollbar-track {
      padding: .5em;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #ccc;
      border: .25em solid #eee;
      border-radius: 100vh;
    }
  }

  blockquote {
    padding: 1em;
    border-left: 5px solid #ddd;
    background: #f7f7f7;
    position: relative;

    >*:first-child {
      margin-top: 0;
    }

    >*:last-child {
      margin-bottom: 0;
    }
  }

  >:first-child {
    margin-top: 0;
  }

  >:last-child {
    margin-bottom: 0;
  }
}